USE [master]
GO
/****** Object:  Database [LaundryManagement]    Script Date: 14/12/2022 02:08:47 ******/
CREATE DATABASE [LaundryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaundryManagement', FILENAME = N'C:\Users\julia\LaundryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaundryManagement_log', FILENAME = N'C:\Users\julia\LaundryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaundryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaundryManagement]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[IdItemType] [int] NOT NULL,
	[IdSize] [int] NOT NULL,
	[IdColor] [int] NOT NULL,
	[Washes] [int] NOT NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[IdArticle] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[IdItemStatus] [int] NOT NULL,
	[IdLocation] [int] NOT NULL,
	[Washes] [int] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemStatus]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ItemStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[IdCategory] [int] NOT NULL,
 CONSTRAINT [PK_ItemType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Default] [bit] NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[IsInternal] [bit] NOT NULL,
	[IdParentLocation] [int] NULL,
	[IdLocationType] [int] NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationType]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LocationType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[IdUser] [int] NULL,
	[IdMovementType] [int] NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[IdLogLevel] [int] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogLevel]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LogLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovementType]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovementType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MovementType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Permission] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionFamily]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionFamily](
	[IdPermissionParent] [int] NOT NULL,
	[IdPermission] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reception]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reception](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLocationOrigin] [int] NOT NULL,
	[IdLocationDestination] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[IdCreationUser] [int] NOT NULL,
 CONSTRAINT [PK_Reception] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceptionDetail]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceptionDetail](
	[IdReception] [int] NOT NULL,
	[IdItem] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roadmap]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roadmap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IdCreationUser] [int] NOT NULL,
	[IdRoadmapStatus] [int] NOT NULL,
	[IdLocationOrigin] [int] NOT NULL,
	[IdLocationDestination] [int] NOT NULL,
 CONSTRAINT [PK_Roadmap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoadmapReception]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoadmapReception](
	[IdRoadmap] [int] NOT NULL,
	[IdReception] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoadmapShippings]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoadmapShippings](
	[IdRoadmap] [int] NOT NULL,
	[IdShipping] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoadmapStatus]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoadmapStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RoadmapStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLocationOrigin] [int] NOT NULL,
	[IdLocationDestination] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IdShippingType] [int] NOT NULL,
	[IdShippingStatus] [int] NOT NULL,
	[IdResponsibleUser] [int] NOT NULL,
	[IdCreatedUser] [int] NOT NULL,
	[CheckDigit] [binary](16) NULL,
 CONSTRAINT [PK_Shipping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingDetail]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingDetail](
	[IdShipping] [int] NOT NULL,
	[IdItem] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingStatus]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ShippingStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingType]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ShippingType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traceability]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traceability](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdItem] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[IdMovementType] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdLocationOrigin] [int] NOT NULL,
	[IdLocationDestination] [int] NOT NULL,
	[IdItemStatus] [int] NOT NULL,
 CONSTRAINT [PK_Traceability] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translations]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTag] [int] NOT NULL,
	[IdLanguage] [int] NOT NULL,
	[Description] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Translations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[IdLanguage] [int] NOT NULL,
	[IdLocation] [int] NOT NULL,
	[CheckDigit] [binary](16) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserHistory]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[IdLanguage] [int] NOT NULL,
	[IdLocation] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_UserHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermission]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermission](
	[IdUser] [int] NOT NULL,
	[IdPermission] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerticalCheckDigit]    Script Date: 14/12/2022 02:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerticalCheckDigit](
	[TableName] [varchar](50) NOT NULL,
	[CheckDigit] [binary](16) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([Id], [Name], [IdItemType], [IdSize], [IdColor], [Washes]) VALUES (1, N'SAB001', 1, 1, 1, 10)
INSERT [dbo].[Article] ([Id], [Name], [IdItemType], [IdSize], [IdColor], [Washes]) VALUES (2, N'SAB002', 1, 2, 1, 10)
INSERT [dbo].[Article] ([Id], [Name], [IdItemType], [IdSize], [IdColor], [Washes]) VALUES (3, N'FUN001', 2, 3, 2, 10)
SET IDENTITY_INSERT [dbo].[Article] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Ropa de cama')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([Id], [Name]) VALUES (1, N'Blanco')
INSERT [dbo].[Color] ([Id], [Name]) VALUES (2, N'Gris')
INSERT [dbo].[Color] ([Id], [Name]) VALUES (3, N'Verde')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Id], [Code], [IdArticle], [Created], [IdItemStatus], [IdLocation], [Washes]) VALUES (1, N'00000001', 1, CAST(N'2022-06-20T22:40:15.167' AS DateTime), 1, 1, 10)
INSERT [dbo].[Item] ([Id], [Code], [IdArticle], [Created], [IdItemStatus], [IdLocation], [Washes]) VALUES (2, N'00000002', 1, CAST(N'2022-06-20T22:40:15.167' AS DateTime), 1, 1, 10)
INSERT [dbo].[Item] ([Id], [Code], [IdArticle], [Created], [IdItemStatus], [IdLocation], [Washes]) VALUES (3, N'00000003', 2, CAST(N'2022-06-20T22:40:15.167' AS DateTime), 1, 1, 10)
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemStatus] ON 

INSERT [dbo].[ItemStatus] ([Id], [Name]) VALUES (1, N'On location')
INSERT [dbo].[ItemStatus] ([Id], [Name]) VALUES (2, N'Pending sent')
INSERT [dbo].[ItemStatus] ([Id], [Name]) VALUES (3, N'Sent')
SET IDENTITY_INSERT [dbo].[ItemStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemType] ON 

INSERT [dbo].[ItemType] ([Id], [Name], [IdCategory]) VALUES (1, N'Sabana', 1)
INSERT [dbo].[ItemType] ([Id], [Name], [IdCategory]) VALUES (2, N'Funda de almohada', 1)
SET IDENTITY_INSERT [dbo].[ItemType] OFF
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([Id], [Name], [Default]) VALUES (1, N'English', 1)
INSERT [dbo].[Language] ([Id], [Name], [Default]) VALUES (2, N'Español', 0)
SET IDENTITY_INSERT [dbo].[Language] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([Id], [Name], [Address], [IsInternal], [IdParentLocation], [IdLocationType]) VALUES (1, N'Lavanderia', N'Test 123', 0, NULL, 1)
INSERT [dbo].[Location] ([Id], [Name], [Address], [IsInternal], [IdParentLocation], [IdLocationType]) VALUES (2, N'Esterilización', N'Test 123 PB', 1, 1, 1)
INSERT [dbo].[Location] ([Id], [Name], [Address], [IsInternal], [IdParentLocation], [IdLocationType]) VALUES (3, N'Costura', N'Test 123 PB', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[LocationType] ON 

INSERT [dbo].[LocationType] ([Id], [Name]) VALUES (1, N'Laundry')
INSERT [dbo].[LocationType] ([Id], [Name]) VALUES (2, N'Clinic')
SET IDENTITY_INSERT [dbo].[LocationType] OFF
GO
SET IDENTITY_INSERT [dbo].[LogLevel] ON 

INSERT [dbo].[LogLevel] ([Id], [Description]) VALUES (1, N'Information')
INSERT [dbo].[LogLevel] ([Id], [Description]) VALUES (2, N'Warning')
INSERT [dbo].[LogLevel] ([Id], [Description]) VALUES (3, N'Error')
SET IDENTITY_INSERT [dbo].[LogLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[MovementType] ON 

INSERT [dbo].[MovementType] ([Id], [Name]) VALUES (1, N'Laundry Shipping')
INSERT [dbo].[MovementType] ([Id], [Name]) VALUES (2, N'Clinic Shipping')
INSERT [dbo].[MovementType] ([Id], [Name]) VALUES (3, N'Internal Shipping')
SET IDENTITY_INSERT [dbo].[MovementType] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([Id], [Name], [Permission]) VALUES (6, N'Administration', N'ADM')
INSERT [dbo].[Permission] ([Id], [Name], [Permission]) VALUES (7, N'Reports', N'REP')
INSERT [dbo].[Permission] ([Id], [Name], [Permission]) VALUES (8, N'Processes', N'PRO')
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
INSERT [dbo].[PermissionFamily] ([IdPermissionParent], [IdPermission]) VALUES (7, 25)
INSERT [dbo].[PermissionFamily] ([IdPermissionParent], [IdPermission]) VALUES (8, 17)
INSERT [dbo].[PermissionFamily] ([IdPermissionParent], [IdPermission]) VALUES (7, 27)
GO
SET IDENTITY_INSERT [dbo].[RoadmapStatus] ON 

INSERT [dbo].[RoadmapStatus] ([Id], [Name]) VALUES (1, N'Sent')
INSERT [dbo].[RoadmapStatus] ([Id], [Name]) VALUES (2, N'Received')
SET IDENTITY_INSERT [dbo].[RoadmapStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingStatus] ON 

INSERT [dbo].[ShippingStatus] ([Id], [Name]) VALUES (1, N'Created')
INSERT [dbo].[ShippingStatus] ([Id], [Name]) VALUES (2, N'Sent')
INSERT [dbo].[ShippingStatus] ([Id], [Name]) VALUES (3, N'Received')
SET IDENTITY_INSERT [dbo].[ShippingStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingType] ON 

INSERT [dbo].[ShippingType] ([Id], [Name]) VALUES (1, N'ToClinic')
INSERT [dbo].[ShippingType] ([Id], [Name]) VALUES (2, N'ToLaundry')
INSERT [dbo].[ShippingType] ([Id], [Name]) VALUES (3, N'Internal')
SET IDENTITY_INSERT [dbo].[ShippingType] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([Id], [Name]) VALUES (1, N'Chico')
INSERT [dbo].[Size] ([Id], [Name]) VALUES (2, N'Mediano')
INSERT [dbo].[Size] ([Id], [Name]) VALUES (3, N'Grande')
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([Id], [Name]) VALUES (1, N'Login')
INSERT [dbo].[Tag] ([Id], [Name]) VALUES (2, N'Email')
INSERT [dbo].[Tag] ([Id], [Name]) VALUES (3, N'Password')
GO
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
SET IDENTITY_INSERT [dbo].[Translations] ON 

INSERT [dbo].[Translations] ([Id], [IdTag], [IdLanguage], [Description]) VALUES (1, 1, 1, N'Login')
INSERT [dbo].[Translations] ([Id], [IdTag], [IdLanguage], [Description]) VALUES (2, 2, 1, N'Email')
INSERT [dbo].[Translations] ([Id], [IdTag], [IdLanguage], [Description]) VALUES (3, 3, 1, N'Password')
GO
SET IDENTITY_INSERT [dbo].[Translations] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Email], [Password], [UserName], [FirstName], [LastName], [IdLanguage], [IdLocation], [CheckDigit]) VALUES (1, N'jcavallo11@gmail.com', N'gdyb21LQTcIANtvYMT7QVQ==', N'jcavallo', N'Julian', N'Cavallo', 2, 4, 0xF921B54B35A338A05D5096FFB5709C48)
INSERT [dbo].[User] ([Id], [Email], [Password], [UserName], [FirstName], [LastName], [IdLanguage], [IdLocation], [CheckDigit]) VALUES (4, N'c@test.com', N'gdyb21LQTcIANtvYMT7QVQ==', N'cperez', N'Carlos', N'Pérez', 2, 1, 0x3A361DFDDB07BF3BAADD47BEEE4767DE)
INSERT [dbo].[User] ([Id], [Email], [Password], [UserName], [FirstName], [LastName], [IdLanguage], [IdLocation], [CheckDigit]) VALUES (5, N'lavanderia@gmail.com', N'gdyb21LQTcIANtvYMT7QVQ==', N'lavanderia', N'Lavanderia', N'Usuario', 2, 1, 0x1DAC59A7EF34D516CA610E28D8FD9248)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserHistory] ON 

INSERT [dbo].[UserHistory] ([Id], [Email], [Password], [UserName], [FirstName], [LastName], [IdLanguage], [IdLocation], [IdUser], [Date]) VALUES (1, N'jcavallo11@gmail.com', N'gdyb21LQTcIANtvYMT7QVQ==', N'jcavallo', N'Julian', N'Cavallo', 2, 4, 1, CAST(N'2022-10-31T02:14:28.000' AS DateTime))
INSERT [dbo].[UserHistory] ([Id], [Email], [Password], [UserName], [FirstName], [LastName], [IdLanguage], [IdLocation], [IdUser], [Date]) VALUES (2, N'jcavallo112@gmail.com', N'gdyb21LQTcIANtvYMT7QVQ==', N'jcavallo', N'Julian', N'Cavallo', 2, 4, 1, CAST(N'2022-10-31T02:14:52.000' AS DateTime))
INSERT [dbo].[UserHistory] ([Id], [Email], [Password], [UserName], [FirstName], [LastName], [IdLanguage], [IdLocation], [IdUser], [Date]) VALUES (3, N'jcavallo11@gmail.com', N'gdyb21LQTcIANtvYMT7QVQ==', N'jcavallo', N'Julian', N'Cavallo', 2, 4, 1, CAST(N'2022-10-31T02:15:23.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserHistory] OFF
GO
INSERT [dbo].[UserPermission] ([IdUser], [IdPermission]) VALUES (4, 6)
INSERT [dbo].[UserPermission] ([IdUser], [IdPermission]) VALUES (4, 10)
INSERT [dbo].[UserPermission] ([IdUser], [IdPermission]) VALUES (4, 11)
GO
INSERT [dbo].[VerticalCheckDigit] ([TableName], [CheckDigit]) VALUES (N'User', 0x5042D80960ED185104E54B2BE955B067)
GO
/****** Object:  Index [IX_ShippingDetail]    Script Date: 14/12/2022 02:08:48 ******/
ALTER TABLE [dbo].[ShippingDetail] ADD  CONSTRAINT [IX_ShippingDetail] UNIQUE NONCLUSTERED 
(
	[IdShipping] ASC,
	[IdItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Translations]    Script Date: 14/12/2022 02:08:48 ******/
ALTER TABLE [dbo].[Translations] ADD  CONSTRAINT [UK_Translations] UNIQUE NONCLUSTERED 
(
	[IdLanguage] ASC,
	[IdTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_Color] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([Id])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_Color]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_ItemType] FOREIGN KEY([IdItemType])
REFERENCES [dbo].[ItemType] ([Id])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_ItemType]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_Size] FOREIGN KEY([IdSize])
REFERENCES [dbo].[Size] ([Id])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_Size]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Article] FOREIGN KEY([IdArticle])
REFERENCES [dbo].[Article] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Article]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_ItemStatus] FOREIGN KEY([IdItemStatus])
REFERENCES [dbo].[ItemStatus] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_ItemStatus]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Location] FOREIGN KEY([IdLocation])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Location]
GO
ALTER TABLE [dbo].[ItemType]  WITH CHECK ADD  CONSTRAINT [FK_ItemType_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[ItemType] CHECK CONSTRAINT [FK_ItemType_Category]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Location] FOREIGN KEY([IdParentLocation])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Location]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_LocationType] FOREIGN KEY([IdLocationType])
REFERENCES [dbo].[LocationType] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_LocationType]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_LogLevel] FOREIGN KEY([IdLogLevel])
REFERENCES [dbo].[LogLevel] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_LogLevel]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Logs_MovementType] FOREIGN KEY([IdMovementType])
REFERENCES [dbo].[MovementType] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Logs_MovementType]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Logs_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Logs_User]
GO
ALTER TABLE [dbo].[PermissionFamily]  WITH CHECK ADD  CONSTRAINT [FK_PermissionFamily_Permission] FOREIGN KEY([IdPermission])
REFERENCES [dbo].[Permission] ([Id])
GO
ALTER TABLE [dbo].[PermissionFamily] CHECK CONSTRAINT [FK_PermissionFamily_Permission]
GO
ALTER TABLE [dbo].[PermissionFamily]  WITH CHECK ADD  CONSTRAINT [FK_PermissionFamily_Permission1] FOREIGN KEY([IdPermissionParent])
REFERENCES [dbo].[Permission] ([Id])
GO
ALTER TABLE [dbo].[PermissionFamily] CHECK CONSTRAINT [FK_PermissionFamily_Permission1]
GO
ALTER TABLE [dbo].[Reception]  WITH CHECK ADD  CONSTRAINT [FK_Reception_Location] FOREIGN KEY([IdLocationOrigin])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Reception] CHECK CONSTRAINT [FK_Reception_Location]
GO
ALTER TABLE [dbo].[Reception]  WITH CHECK ADD  CONSTRAINT [FK_Reception_Location1] FOREIGN KEY([IdLocationDestination])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Reception] CHECK CONSTRAINT [FK_Reception_Location1]
GO
ALTER TABLE [dbo].[Reception]  WITH CHECK ADD  CONSTRAINT [FK_Reception_User] FOREIGN KEY([IdCreationUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Reception] CHECK CONSTRAINT [FK_Reception_User]
GO
ALTER TABLE [dbo].[ReceptionDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReceptionDetail_Item] FOREIGN KEY([IdItem])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[ReceptionDetail] CHECK CONSTRAINT [FK_ReceptionDetail_Item]
GO
ALTER TABLE [dbo].[ReceptionDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReceptionDetail_Reception] FOREIGN KEY([IdReception])
REFERENCES [dbo].[Reception] ([Id])
GO
ALTER TABLE [dbo].[ReceptionDetail] CHECK CONSTRAINT [FK_ReceptionDetail_Reception]
GO
ALTER TABLE [dbo].[Roadmap]  WITH CHECK ADD  CONSTRAINT [FK_Roadmap_Location] FOREIGN KEY([IdLocationOrigin])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Roadmap] CHECK CONSTRAINT [FK_Roadmap_Location]
GO
ALTER TABLE [dbo].[Roadmap]  WITH CHECK ADD  CONSTRAINT [FK_Roadmap_Location1] FOREIGN KEY([IdLocationDestination])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Roadmap] CHECK CONSTRAINT [FK_Roadmap_Location1]
GO
ALTER TABLE [dbo].[Roadmap]  WITH CHECK ADD  CONSTRAINT [FK_Roadmap_RoadmapStatus] FOREIGN KEY([IdRoadmapStatus])
REFERENCES [dbo].[RoadmapStatus] ([Id])
GO
ALTER TABLE [dbo].[Roadmap] CHECK CONSTRAINT [FK_Roadmap_RoadmapStatus]
GO
ALTER TABLE [dbo].[Roadmap]  WITH CHECK ADD  CONSTRAINT [FK_Roadmap_User] FOREIGN KEY([IdCreationUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Roadmap] CHECK CONSTRAINT [FK_Roadmap_User]
GO
ALTER TABLE [dbo].[RoadmapReception]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapReception_Reception] FOREIGN KEY([IdReception])
REFERENCES [dbo].[Reception] ([Id])
GO
ALTER TABLE [dbo].[RoadmapReception] CHECK CONSTRAINT [FK_RoadmapReception_Reception]
GO
ALTER TABLE [dbo].[RoadmapReception]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapReception_Roadmap] FOREIGN KEY([IdRoadmap])
REFERENCES [dbo].[Roadmap] ([Id])
GO
ALTER TABLE [dbo].[RoadmapReception] CHECK CONSTRAINT [FK_RoadmapReception_Roadmap]
GO
ALTER TABLE [dbo].[RoadmapShippings]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapShippings_Roadmap] FOREIGN KEY([IdRoadmap])
REFERENCES [dbo].[Roadmap] ([Id])
GO
ALTER TABLE [dbo].[RoadmapShippings] CHECK CONSTRAINT [FK_RoadmapShippings_Roadmap]
GO
ALTER TABLE [dbo].[RoadmapShippings]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapShippings_Shipping] FOREIGN KEY([IdShipping])
REFERENCES [dbo].[Shipping] ([Id])
GO
ALTER TABLE [dbo].[RoadmapShippings] CHECK CONSTRAINT [FK_RoadmapShippings_Shipping]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_Location] FOREIGN KEY([IdLocationDestination])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_Location]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_Location1] FOREIGN KEY([IdLocationOrigin])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_Location1]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_ShippingStatus] FOREIGN KEY([IdShippingStatus])
REFERENCES [dbo].[ShippingStatus] ([Id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_ShippingStatus]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_ShippingType] FOREIGN KEY([IdShippingType])
REFERENCES [dbo].[ShippingType] ([Id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_ShippingType]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_User] FOREIGN KEY([IdResponsibleUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_User]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_User1] FOREIGN KEY([IdCreatedUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_User1]
GO
ALTER TABLE [dbo].[ShippingDetail]  WITH CHECK ADD  CONSTRAINT [FK_ShippingDetail_Shipping] FOREIGN KEY([IdShipping])
REFERENCES [dbo].[Shipping] ([Id])
GO
ALTER TABLE [dbo].[ShippingDetail] CHECK CONSTRAINT [FK_ShippingDetail_Shipping]
GO
ALTER TABLE [dbo].[ShippingDetail]  WITH CHECK ADD  CONSTRAINT [FK_ShippingDetail_ShippingDetail] FOREIGN KEY([IdItem])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[ShippingDetail] CHECK CONSTRAINT [FK_ShippingDetail_ShippingDetail]
GO
ALTER TABLE [dbo].[Traceability]  WITH CHECK ADD  CONSTRAINT [FK_Traceability_Item] FOREIGN KEY([IdItem])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[Traceability] CHECK CONSTRAINT [FK_Traceability_Item]
GO
ALTER TABLE [dbo].[Traceability]  WITH CHECK ADD  CONSTRAINT [FK_Traceability_ItemStatus] FOREIGN KEY([IdItemStatus])
REFERENCES [dbo].[ItemStatus] ([Id])
GO
ALTER TABLE [dbo].[Traceability] CHECK CONSTRAINT [FK_Traceability_ItemStatus]
GO
ALTER TABLE [dbo].[Traceability]  WITH CHECK ADD  CONSTRAINT [FK_Traceability_Location] FOREIGN KEY([IdLocationOrigin])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Traceability] CHECK CONSTRAINT [FK_Traceability_Location]
GO
ALTER TABLE [dbo].[Traceability]  WITH CHECK ADD  CONSTRAINT [FK_Traceability_Location1] FOREIGN KEY([IdLocationDestination])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Traceability] CHECK CONSTRAINT [FK_Traceability_Location1]
GO
ALTER TABLE [dbo].[Traceability]  WITH CHECK ADD  CONSTRAINT [FK_Traceability_MovementType] FOREIGN KEY([IdMovementType])
REFERENCES [dbo].[MovementType] ([Id])
GO
ALTER TABLE [dbo].[Traceability] CHECK CONSTRAINT [FK_Traceability_MovementType]
GO
ALTER TABLE [dbo].[Traceability]  WITH CHECK ADD  CONSTRAINT [FK_Traceability_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Traceability] CHECK CONSTRAINT [FK_Traceability_User]
GO
ALTER TABLE [dbo].[Translations]  WITH CHECK ADD  CONSTRAINT [FK_Translations_Language] FOREIGN KEY([IdLanguage])
REFERENCES [dbo].[Language] ([Id])
GO
ALTER TABLE [dbo].[Translations] CHECK CONSTRAINT [FK_Translations_Language]
GO
ALTER TABLE [dbo].[Translations]  WITH CHECK ADD  CONSTRAINT [FK_Translations_Tag] FOREIGN KEY([IdTag])
REFERENCES [dbo].[Tag] ([Id])
GO
ALTER TABLE [dbo].[Translations] CHECK CONSTRAINT [FK_Translations_Tag]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Language] FOREIGN KEY([IdLanguage])
REFERENCES [dbo].[Language] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Language]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Location] FOREIGN KEY([IdLocation])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Location]
GO
ALTER TABLE [dbo].[UserHistory]  WITH CHECK ADD  CONSTRAINT [FK_UserHistory_Language] FOREIGN KEY([IdLanguage])
REFERENCES [dbo].[Language] ([Id])
GO
ALTER TABLE [dbo].[UserHistory] CHECK CONSTRAINT [FK_UserHistory_Language]
GO
ALTER TABLE [dbo].[UserHistory]  WITH CHECK ADD  CONSTRAINT [FK_UserHistory_Location] FOREIGN KEY([IdLocation])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[UserHistory] CHECK CONSTRAINT [FK_UserHistory_Location]
GO
ALTER TABLE [dbo].[UserHistory]  WITH CHECK ADD  CONSTRAINT [FK_UserHistory_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserHistory] CHECK CONSTRAINT [FK_UserHistory_User]
GO
ALTER TABLE [dbo].[UserPermission]  WITH CHECK ADD  CONSTRAINT [FK_UserPermission_Permission] FOREIGN KEY([IdPermission])
REFERENCES [dbo].[Permission] ([Id])
GO
ALTER TABLE [dbo].[UserPermission] CHECK CONSTRAINT [FK_UserPermission_Permission]
GO
ALTER TABLE [dbo].[UserPermission]  WITH CHECK ADD  CONSTRAINT [FK_UserPermission_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserPermission] CHECK CONSTRAINT [FK_UserPermission_User]
GO
USE [master]
GO
